<ion-header>
  <ion-navbar>
    <ion-title>
      Just Monika.
    </ion-title>
  </ion-navbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <span *ngIf="!films.length">
    Aucun resultats.
  </span>

  <ion-list>
    <button ion-item *ngFor="let film of films" [navPush]="pushPage" [navParams]="film">

      <ion-thumbnail item-start>
        <img [src]="film.image">
      </ion-thumbnail>
      <h2>{{ film.title }}</h2>
      <p>{{ film.author }} • {{ film.date }}</p>

    </button>
  </ion-list>

</ion-content>
