<ion-header>
  <ion-navbar>
    <ion-title>
      Just Monika.
    </ion-title>
  </ion-navbar>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <span *ngIf="!(films | async)?.length">
    Aucun resultats.
  </span>

  <ion-list>
    <button ion-item *ngFor="let film of films | async" [navPush]="pushPage" [navParams]="film">

      <ion-thumbnail item-start>
        <img [src]="film.poster_path">
      </ion-thumbnail>
      <h2>{{ film.title }}</h2>
      <p>{{ film.overview }} • {{ film.release_date }}</p>

    </button>
  </ion-list>

</ion-content>
