<ion-header>
  <ion-navbar>
    <ion-title>
      The Movie Database
    </ion-title>
  </ion-navbar>
  <p>
    <button ion-button (click)="get2018()">Sorties 2018</button>
  </p>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <span *ngIf="!(films | async)?.length">
    Aucun resultats.
  </span>

  <ion-list>
    <button ion-item *ngFor="let film of films | async" [navPush]="pushPage" [navParams]="film">

      <ion-thumbnail item-start>
        <img [src]="'https://image.tmdb.org/t/p/w92' + film.poster_path">
      </ion-thumbnail>
      <h2>{{ film.title }}</h2>
      <p>{{ film.release_date }}</p>

    </button>
  </ion-list>

</ion-content>
